body {
	font-family: Arial, sans-serif;
	background-image: url("assets/bkgnd.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	max-width: 100vw;
	scrollbar-width: none;
}

#text {
	background-color: #0a0a23;
	color: #ffffff;
	padding: 10px;
	border-radius: 5px;
}

#game {
  max-width: 40vw;
  max-height: 500px;
  background-color: #17235e;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border-color: #faf7f7;
}

#controls,
#stats {
	border: 1px solid #0a0a23;
	padding: 5px;
	color: white;
	border-radius: 5px;
	/* width: 40%; */
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #fe3232;
  background-image: linear-gradient(#fe4c4c, #ff3333);
  border: 3px solid #fe3232;
  border-radius: 5px;
}

@media (max-width: 500px) {
  #game {
	width: 80vw;
	height: 100dvh;
  }
}